layout {
    tab name="Frontend" {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      pane command="nvim" cwd="/Users/lowm4n/code/Plansysteme/holodesk/holodesk-web/ClientApp"
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
    }

    tab name="Frontend Build" {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      pane command="npm" cwd="/Users/lowm4n/code/Plansysteme/holodesk/holodesk-web/ClientApp" {
          args "run" "start"
        }
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
    }

    tab name="Backend" {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      pane command="nvim" cwd="/Users/lowm4n/code/Plansysteme/holodesk"
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
    }

    tab name="Backend Build" {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      pane command="dotnet" cwd="/Users/lowm4n/code/Plansysteme/holodesk" {
          args "run" "--project" "holodesk-web/holodesk-web.csproj"
        }
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
    }
}
